# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

database.sqlite
node_modules
ncp-debug.log
npm-debug.log
.env
privkey1.pem
google-credentials.json
